@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #086788;
    --secondary-color: #07a0c3;
    --accent-color: #f7f7f2;
    --ternary-color: #121113;
    --fourth-color: #e4e6c3;
}
body {
    font-family: "Inter", sans-serif;
}

.font-serif {
    font-family: "Playfair Display", serif;
}
